<div>
  <img src="https://fakeimg.pl/250/" alt="Card image cap">
</div>
<div>
  <h3><%= @movie.title %></h3>
</div>
<div>
  <p class="card-text" style="text-align: left">
    <%= @movie.description %></p>
</div>
<div>
  <h3>Rating: <%= @movie.rating %>/10</h3>
</div>
<div>
  <h3>Director: <%= Celebrity.find(@movie.director_id)["display_name"] %></h3>
</div>
<div class="card-footer">
  <small class="text-muted"><%= @movie.release_date %></small>
</div>

